<div class="page-header">

	<h2><%= @user.user_name %></h2>
	<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn' %>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<div class="row-fluid">
				<div class="span2">
					<%= image_tag status.user.gravatar_url %>
				</div>
				<div class="span10">
					<%= status.content %>
					<hr/>
					<%= time_ago_in_words(status.created_at) %> ago
				</div>	
			</div>
		</div>
	<% end %>
<% end %>
